body {
    background-color: #1c234e;
    color: #babbc3;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-size: 72px;
    line-height: 90%;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
}

em {
    display: block;
    text-align: center;
}